@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

.title {
    padding: 25px 0;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 15px;
}

.catalog_card {
    flex: 1 calc(20% - 24px);
    min-width: 200px;
    max-width: 260px;
    height: 370px;
    padding: 12px;
    background-color: rgba(219, 218, 218, 0.726);
    transition: all 0.3s ease;
}

.catalog_card:hover {
    box-shadow: 0px 6px 16px rgb(154, 152, 152);
}

.catalog_card:hover .catalog_card__cart{
    display: block;
}

.catalog_card:hover .catalog_card__sale{
    display: none;
}

.catalog_card:hover .catalog_card__content {
    height: calc(100% - 60px);
}

.catalog_card:hover .catalog_card__content img {
    max-height: 160px;
}

.catalog_card__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 34px 20px 20px;
    position: relative;
    /* word-wrap: break-word; */
    text-align: center;
    background-color: rgba(255, 255, 255);
    transition: all 0.3s ease;
}

.catalog_card__content img {
    max-width: 100%;
    max-height: 190px;
    object-fit: contain;
    transition: all 0.3s ease;
}

.catalog_card__data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
}

.catalog_card__title {
    font-size: 14px;
    font-weight: 500;
    color: rgba(138, 138, 138, 0.726);
}

.catalog_card__description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
    font-weight: 400;
}

.catalog_card__price {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 500;
}

.catalog_card__priceValue {
    text-decoration: line-through;
}

.catalog_card__decoratedPriceValue{
    color: rgb(189, 14, 14);
}

.catalog_card__sale {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1000;
    padding: 4px;
    margin: 8px;
    font-size: 12px;
    color: rgba(255, 255, 255);
    background-color: rgb(109, 145, 231);
    transition: all 0.3s ease;
}

.catalog_card__cart {
    display: none;
    width: fit-content;
    padding: 8px 14px;
    margin: 20px auto;
    text-align: center;
    font-size: 16px;
    color: rgba(255, 255, 255);
    background-color: rgb(109, 145, 231);
    transition: all 0.3s ease;
}

.catalog_card__cart:hover {
    background-color: rgb(78, 113, 194);
    cursor: pointer;
}

.catalog_card__cart:active {
    transform: scale(0.9);
}

.icon {
    color: rgba(255, 255, 255);
}